# LINE Bot
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=
LINE_BOSS_USER_ID=Uc351b3ea15a51309878e298e887d3867

# 瑀墨系統 API
WMS_API_URL=https://um-wms-p2-production.up.railway.app
MONEY_API_URL=https://ummoney-p2-production.up.railway.app
API_USERNAME=UM-KENYA
API_PASSWORD=UM1150614

# Claude API
ANTHROPIC_API_KEY=
